body {
  color: #fff;
  background-color: #000;
  font-size: 16px;
  height: min(100vh);
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto 72px;
}

.container > * {
  grid-column: 2;
}

.cotainer > .fluid {
  grid-column: 1 / -1;
}
